<!DOCTYPE html>
<html ng-controller="MainController">
  <head>
    <script data-main="@routes.Assets.versioned("javascripts/entry.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" type="text/css" />
  </head>
  <body class="container">
    <h3>PDF Merge: </h3>
    <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
            accept="application/pdf" ngf-max-height="1000" class="btn btn-default">
      Select Files</button>
    <hr>
    <h3>Web to PDF: </h3>
    <div class="form-group">
      <input type="text" ng-model="url" class="form-control col-sm-8" placeholder="https://github.com" />
      <button class="btn btn-default" ng-click="webToPdf()">Convert</button>
    </div>

    <hr>
    <p>by chang (https://github.com/qwefgh90)</p>
  </body>
</html>

